<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
    </head>
    <body>
        <div>Dashboard: 
            <a href="{{ url_for('index') }}">Queue</a>
            <a href="{{ url_for('addTask') }}">New Task</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% if header %}
        <h1>{{ header }}</h1>
        {% else %}
        <h1>Dashboard</h1>
        {% endif %}
        {% block content %}{% endblock %}
    </body>
</html>